<%= render "shared/header" %>

<h2 class="text-success d-flex p-2 justify-content-center">案件を出稿する</h2>

<%= form_with model: @job, class: 'p-5 mb-2 bg-light', local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  <div class="mx-auto p-2 mb-3" style="width: 600px;">
    雇用形態<span class="badge rounded-pill bg-danger">必須</span>

    <div class="form-check form-check-inline">
      <%= f.radio_button :status, "一般派遣", class:"form-check-input" %>
      <%= f.label :statusCheck1, "一般派遣" %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :status, "紹介予定派遣", class:"form-check-input" %>
      <%= f.label :statusCheck2, "紹介予定派遣" %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :status, "無期雇用派遣", class:"form-check-input" %>
      <%= f.label :statusCheck3, "無期雇用派遣" %>
    </div>
    
  </div>

  <%# タイトル %>
  <div class="mx-auto p-2 mb-3" style="width: 600px;">

    <%= f.label :status, "タイトル", class:"form-label" %>
    <span class="badge rounded-pill bg-danger">必須</span>
    <%= f.text_field :title, class:"form-control border border-2 rounded-3", placeholder:"30文字以内" %>

    <p class="d-flex justify-content-end">
      <span id="character-count">0</span>/30
    </p>

  </div>
  <%# タイトル %>

  <div class="mx-auto p-2 mb-3" style="width: 600px;">
    <%= f.label :occupation_id, "職種", class:"form-label" %>
    <span class="badge rounded-pill bg-danger">必須</span>
    <%= f.collection_select(:occupation_id, Occupation.all, :id, :name, {}, {class:"border border-2 rounded-3"}) %>
  </div>

  <div class="mx-auto p-2 mb-3" style="width: 600px;">
    勤務地<span class="badge rounded-pill bg-danger">必須</span>

    <div class="p-2">
      <%= f.label :prefecture_id, "都道府県"%>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class: "border border-2 rounded-3"}) %>
    </div>

    <div class="p-2">
      <%= f.label :city, "市区町村"%>
      <%= f.text_field :city, class: "border border-2 rounded-3", placeholder:"渋谷区" %>
    </div>

    <div class="p-2">
      <%= f.label :house_number, "番地"%>
      <%= f.text_field :house_number, class: "border border-2 rounded-3", placeholder:"青山1" %>
    </div>

    <div class="p-2">
      <%= f.label :building_name, "建物名"%>
      <%= f.text_field :building_name, class: "border border-2 rounded-3", placeholder:"任意" %>
    </div>

  </div>

  <div class="mx-auto p-2 mb-3" style="width: 600px;">
    <%= f.label :status, "最寄駅", class:"form-label" %>
    <span class="badge rounded-pill bg-danger">必須</span>
    <%= f.collection_select(:line_id, Line.all, :id, :name, {}, {class:"border border-2 rounded-3"}) %>
    <%= f.collection_select(:station_id, Station.all, :id, :name, {}, {class:"border border-2 rounded-3"}) %>
  </div>

  <div class="mx-auto p-2 mb-3" style="width: 600px;">
    <%= f.label :status, "給与", class:"form-label" %>
    <span class="badge rounded-pill bg-danger">必須</span>
    <%= f.collection_select(:classification_id, Classification.all, :id, :name, {}, {class:"border border-2 rounded-3"}) %>
    <%= f.text_field :salary, class:"border border-2 rounded-3" %>
  </div>

  <div class="mx-auto p-2 mb-3" style="width: 600px;">
    <%= f.label :status, "契約期間", class:"form-label" %>
    <span class="badge rounded-pill bg-danger">必須</span>
    <%= f.collection_select(:period_id, Period.all, :id, :name, {}, {class:"border border-2 rounded-3"}) %>
  </div>

  <div class="mx-auto p-2 mb-3" style="width: 600px;">
    <%= f.label :status, "勤務時間", class:"form-label" %>
    <span class="badge rounded-pill bg-danger">必須</span>
    <%= f.time_field :start_time, class:"border border-2 rounded-3" %>~<%= f.time_field :end_time, class:"border border-2 rounded-3" %>
  </div>
  
  <div class="mx-auto p-2 mb-3" style="width: 600px;">
    <%= f.label :holiday, "休日", class:"form-label" %>
    <span class="badge rounded-pill bg-danger">必須</span>
    <%= f.check_box :holiday, {multiple: true, class:"border border-2 rounded-3"}, "月", nil %>月
    <%= f.check_box :holiday, {multiple: true, class:"border border-2 rounded-3"}, "火", nil %>火
    <%= f.check_box :holiday, {multiple: true, class:"border border-2 rounded-3"}, "水", nil %>水
    <%= f.check_box :holiday, {multiple: true, class:"border border-2 rounded-3"}, "木", nil %>木
    <%= f.check_box :holiday, {multiple: true, class:"border border-2 rounded-3"}, "金", nil %>金
    <%= f.check_box :holiday, {multiple: true, class:"border border-2 rounded-3"}, "土", nil %>土
    <%= f.check_box :holiday, {multiple: true, class:"border border-2 rounded-3"}, "日", nil %>日
    <%= f.check_box :holiday, {multiple: true, class:"border border-2 rounded-3"}, "週休二日制(シフト)", nil %>週休二日制(シフト)
  </div>

  <div class="mx-auto p-2 mb-3" style="width: 600px;">
    <%= f.label :description, "仕事内容", class:"form-label" %>
    <span class="badge rounded-pill bg-danger">必須</span>
    <%= f.text_area :description, size: "70x10", class: "border border-2 rounded-3" %>
  </div>

  <div class="mx-auto p-2 mb-3" style="width: 600px;">
    <%= f.label :description, "お仕事写真", class:"form-label" %>
    <span class="badge rounded-pill bg-danger">必須</span>
    <%= f.file_field :image, class: "border border-2 rounded-3" %>
  </div>

  <div class="actions d-flex p-2 justify-content-center">
    <%= f.submit "出稿する", class:"btn btn-success" %>
  </div>
<% end %>

<%= link_to "戻る", root_path, class:"text-success d-flex p-2 justify-content-center" %>

