<%# jobs一覧ページ %>
<ul class="left-contents w-50">
  <% @job.each do |job| %>
    <li class="d-flex border p-2">
      <%# ロゴ(Bootstrap使用中) %>
      <i class="bi bi-person-circle h1"></i>
      <%# ロゴ(Bootstrap使用中) %>

      <div>
        <h4 class="p-1"><%= job.agency.agency_name %></h4>
        <p>新着のお仕事が出ました!</p>
        
          <%# jobカード %>
          <div class="card col-12">
            
            <%# お仕事写真 %>
            <%= image_tag job.image, class: "card-img-top"%>
            <%# お仕事写真 %>

            <%# statusバッジ %>
            <div class="card-body">
              <% if job.status == "一般派遣" %>
                <span class="badge rounded-pill bg-warning text-dark">
                  <%= job.status %>
                </span>
              <% elsif job.status == "紹介予定派遣" %>
                <span class="badge rounded-pill bg-info text-dark">
                  <%= job.status %>
                </span>
              <% else %>
                <span class="badge rounded-pill bg-light text-dark">
                  <%= job.status %>
                </span>
              <% end %>
              <%# statusバッジ %>

              <h5 class="card-title"><%= job.title %></h5>
              <p class="card-text"><%= job.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= job.occupation.name %></li>
              <li class="list-group-item"><%= job.prefecture.name %><%= job.city %>/<%= job.station.name %></li>
            </ul>
            <div class="card-body gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-outline-warning">
                <%= link_to 'キープする', "#", class: "text-reset text-decoration-none" %>
              </button>
              <button class="btn btn-warning">
                <%= link_to '詳しく見る', job_path(job.id), class: "text-reset text-decoration-none" %>
              </button>
            </div>             
        </div>
        <%# jobカード %>
      </div>
    </li>
  <% end %>
</ul>
<%# jobs一覧ページ %>

<%# 出稿ボタンの設置 %>
<%= link_to(new_job_path) do %>
  <i class="bi bi-file-earmark-plus-fill text-success position-fixed bottom-0 end-50 p-4 display-1 d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="案件を出稿する"></i>
<% end %>
<%# 出稿ボタンの設置 %>
