<%# 画面上部の「派遣に特化した求人SNS」帯部分 %>
<div class='title-contents'>
  <h2 class='service-title'>
    派遣に特化した<br>求人SNS
  </h2>
  <p class='service-explain'>
    自分に合った天職を。<br>
    Amatsuは、誰でも天職を探せる求人SNSです。
  </p>
</div>
<%# /画面上部の「派遣に特化した求人SNS」帯部分  %>

<div class="jobs-contents">
  <%# jobs一覧ページ %>
  <ul class="left-contents">
    <% @job.each do |job| %>
      <li class="d-flex border p-2">
        <%# アイコン(Bootstrap使用中) %>
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-app" viewBox="0 0 16 16">
          <path d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
        </svg>
        <%# アイコン(Bootstrap使用中) %>

        <div>
          <h4><%= job.agency.agency_name %></h4>
          <p>新着のお仕事が出ました!</p>
          
            <%# jobカード %>
            <div class="card col-12">
              <%= image_tag job.image, class: "card-img-top" if job.image.attached? %>
              <div class="card-body">
                <h5 class="card-title"><%= job.title %></h5>
                <p class="card-text"><%= job.description %></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= job.occupation_id %></li>
                <li class="list-group-item"><%= job.city %>/<%= job.station_id %></li>
              </ul>
              <div class="card-body gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-outline-warning">
                  <%= link_to 'キープする', "#", class: "text-reset text-decoration-none" %>
                </button>
                <button class="btn btn-warning">
                  <%= link_to '詳しく見る', "#", class: "text-reset text-decoration-none" %>
                </button>
              </div>             
          </div>
          <%# jobカード %>
        </div>
      </li>
    <% end %>

    <button type="button" class="btn btn-outline-success rounded-circle position-fixed bottom-0 end-50 p-4">
      <%= link_to '出稿', new_job_path, class: "text-reset text-decoration-none" %>
    </button>
  </ul>
  <%# jobs一覧ページ %>

  <%# jobs詳細ページ %>
  <div class= "right-contents">
  </div>
  <%# jobs詳細ページ %>
</div>