<%# job詳細ページ %>
<div class= "right-contents">
  <div class="d-flex border p-2">
    <%# ロゴ(Bootstrap使用中) %>
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-app" viewBox="0 0 16 16">
      <path d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
    </svg>
    <%# ロゴ(Bootstrap使用中) %>

    <h4><%= @job_show.agency.agency_name %></h4>
  </div>

    <%# jobカード %>
    <div class="card col-12">

      <%# お仕事写真 %>
      <%= image_tag @job_show.image, class: "card-img-top"%>
      <%# お仕事写真 %>

      <%# statusバッジ %>
      <div class="card-body">
        <% if @job_show.status == "一般派遣" %>
          <span class="badge rounded-pill bg-warning text-dark">
            <%= @job_show.status %>
          </span>
        <% elsif @job_show.status == "紹介予定派遣" %>
          <span class="badge rounded-pill bg-info text-dark">
            <%= @job_show.status %>
          </span>
        <% else %>
          <span class="badge rounded-pill bg-light text-dark">
            <%= @job_show.status %>
          </span>
        <% end %>
        <%# statusバッジ %>

        <h5 class="card-title"><%= @job_show.title %></h5>
        <p class="card-text"><%= @job_show.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @job_show.occupation.name %></li>
        <li class="list-group-item"><%= @job_show.prefecture.name %><%= @job_show.city %>/<%= @job_show.station.name %></li>
        <li class="list-group-item"><%= @job_show.classification.name %><%= @job_show.salary %>円</li>
        <li class="list-group-item">勤務期間:<%= @job_show.period.name %></li>
        <li class="list-group-item">勤務時間:<%= @job_show.start_time %><%= @job_show.end_time %></li>
        <li class="list-group-item">休日:<%= @job_show.holiday %></li>
      </ul>
    </div>
    <%# jobカード %>
</div>
<%# job詳細ページ %>