<%= render "shared/header" %>

<div class="card w-75 m-auto">
  <%= image_tag "/assets/amatsu-header01.jpg", class:"card-img-top img-fluid", alt:"ヘッダー画像" %>
  <div class="card-img-overlay">
    <h1 class="card-title">No image</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @agency.agency_name %></h5>
    <p class="card-text">代表者名:<%= @agency.agency_president %></p>
    <p class="card-text">住所:<%= @agency.prefecture.name %><%= @agency.city %><%= @agency.house_number %><%= @agency.building_name %></p>
    <p class="card-text">派遣許認可番号:派<%= @agency.permit_number %></p>
    <p class="card-text">Website:<%= @agency.website %></p>
    <a href="#" class="btn btn-primary"><%= @agency.agency_name %></a>
  </div>
</div>